<!doctype html>
<html lang="en">

<head>
  {% include "fiavis/google_analytics.html" %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>404</title>

  <style>
      p {
        text-align:center;
      }

      .a404 {
        margin-top: 10%;
      }
  </style>
  
</head>

<body>
  <div class="a404">
    <p>O que você procura não está aqui :(</p>
    <p><a href="http://alepmaros.me">Voltar para a página inicial.</a></p>
    <p></p>
    <p><a href="http://alepmaros.me/monetus">Voltar para o histórico da Monetus</a></p>
  </div>
</body>