<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script>
function search(nameKey, myArray, date, vcp) {
  for (var i = 0; i < myArray.length; i++) {
    if (myArray[i].code == nameKey) {
      myArray[i].series.push({
        "date": d,
        "vcp": vcp
      })
      return myArray
    }
  }
  return 1;
}
function toTimestamp(strDate){
   var datum = Date.parse(strDate);
   return datum/1000;
}

var fiaData = [];
var stocks = []
var data = []

all_days.forEach(element => {
  d = new Date(element.day)
  d.setHours(0, 0, 0, 0)
  fiaData.push([toTimestamp(d), element.vcp]);

  element.stocks.forEach(stockslist => {
    flag = search(stockslist.fields.code, stocks, d, stockslist.fields.vcp)
    if (flag === 1) {
      stocks.push({
        "code": stockslist.fields.code,
        "series": [{
          "date": d,
          "vcp": stockslist.fields.vcp
        }]
      })
    } else {
      stocks = flag
    }
  })
});

data.push({
  "name": "Monetus FIA",
  "data": fiaData
})

console.log(data)
console.log('\n\n\n')

console.log(stocks)

stocks.forEach(stock => {
  var stockArray = []

  stock.series.forEach(day => {
    stockArray.push([toTimestamp(day.date),day.vcp])
  })

  data.push({
    "name": stock.code,
    "data": stockArray
  })
})

var seriesOptions = [],
    seriesCounter = 0,
    names = ['Monetus FIA'];

/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
function createChart() {

    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}

$.each(data, function (i, name) {

  seriesOptions[i] = {
      name: data[i].name,
      data: data[i].data
  };
  seriesCounter += 1;

  if (seriesCounter === data.length) {
      createChart();
  }
});
</script>

