<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script>
  function search(nameKey, myArray, date, vcp) {
    for (var i = 0; i < myArray.length; i++) {
      if (myArray[i].code == nameKey) {
        myArray[i].series.push({
          "date": d,
          "vcp": vcp
        })
        return myArray
      }
    }
    return 1;
  }

  function toTimestamp(strDate) {
    var datum = Date.parse(strDate);
    return datum / 1000;
  }

  

  var seriesOptions = [],
    seriesCounter = 0,
    names = ['Monetus FIA'];

  function recreateChart(selected_charts = ['Monetus FIA'], acumulado = true) {

  var fiaData = [];
  var stocks = []
  var data = []
  var totalvcp = 0

  Highcharts.setOptions({
    colors: ['#000000', '#FFBF00', '#A4C639', '#BD33A4', '#7FFFD4', '#2A52BE', '#B2BEB5', 
             '#6D351A', '#007FFF', '#F4C2C2', '#734F96', '#004225', '#CD7F32', '#FBCEB1', 
             '#4B5320', '#CD5B45', '#E32636']
  });

  all_days.forEach(element => {
    d = new Date(element.day)
    d.setHours(0, 0, 0, 0)
    totalvcp += element.vcp
    fiaData.push([(d).getTime(), acumulado ? totalvcp : element.vcp]);

    element.stocks.forEach(stockslist => {
      flag = search(stockslist.fields.code, stocks, d, stockslist.fields.vcp)
      if (flag === 1) {
        stocks.push({
          "code": stockslist.fields.code,
          "series": [{
            "date": d,
            "vcp": stockslist.fields.vcp
          }]
        })
      } else {
        stocks = flag
      }
    })
  });

  data.push({
    "name": "Monetus FIA",
    "data": fiaData
  })

  stocks.forEach(stock => {
    var stockArray = []
    var totalvcp = 0
    stock.series.forEach(day => {
      totalvcp += day.vcp
      stockArray.push([(day.date).getTime(), acumulado ? totalvcp : day.vcp])
    })

    data.push({
      "name": stock.code,
      "data": stockArray
    })
  })
    
    seriesOptions = [],
      seriesCounter = 0,
      names = ['Monetus FIA'];

    data.forEach(element => {
      if (selected_charts.includes(element.name)) {
        seriesOptions.push({
          name: element.name,
          data: element.data
        })
      }
    })
    createChart();
  }
  
  recreateChart();

  /**
   * Create the chart when all data is loaded
   * @returns {undefined}
   */
  function createChart() {
    
    Highcharts.stockChart('container', {
      chart: {
        height: 600
      },

      rangeSelector: {
        selected: 4
      },

      yAxis: {
        labels: {
          formatter: function () {
            return (this.value > 0 ? ' + ' : '') + this.value + '%';
          }
        },
        plotLines: [{
          value: 0,
          width: 2,
          color: 'silver'
        }]
      },

      tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}%</b><br/>',
        valueDecimals: 2,
        split: true
      },

      series: seriesOptions
    });
  }

// $.each(data, function (i, name) {

//   seriesOptions[i] = {
//       name: data[i].name,
//       data: data[i].data
//   };
//   seriesCounter += 1;

//   if (seriesCounter === data.length) {
//       createChart();
//   }
// });
</script>