Caso você tenha se interessado pelo serviço, considere nos ajudar a manter ele vivo! O dinheiro para deixar essa ferramenta rodando sai diretamente dos nossos bolsos. Qualquer contribuição é muito bem vinda.
<form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
    <input type="hidden" name="currency" value="BRL" />
    <input type="hidden" name="receiverEmail" value="alehstk@gmail.com" />
    <input type="hidden" name="iot" value="button" />
    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/184x42-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>