<!doctype html>
<html lang="en">

<head>
  {% include "fiavis/google_analytics.html" %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Monetus FIA: Histórico (Não Oficial)</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  {% load static %}
  <link href="{% static "fiavis/css/style.css" %}" rel="stylesheet">

  <script>
    var all_days = {{ all_days | safe }}
  </script>

</head>

<body>
  <div id="monetus-box">
    <h1 class="display-4">Valorização: {% if last_day_updated.vcp > 0 %} +{% endif %}{{ last_day_updated.vcp }}%</h1>
    <p>Ultima atualização há {{ last_day_updated.time | timesince }}</p>

  </div>


  <div class="container">
    <div class="my-5 pt-5 text-muted text-center text-small border-top">
      <div class="form-check">
          <div class="charttype">
            <label class="control control--checkbox">
                <input name="acumulado" type="radio" onchange="toggleChart(this)" id="_ACU" value="Acumulado" checked>Acumulado
                <div class="control__indicator radio__indicador"></div>
            </label>
            <label class="control control--checkbox">
                <input name="acumulado" type="radio" onchange="toggleChart(this)" id="_DIA" value="Diario">Diario
                <div class="control__indicator radio__indicador"></div>
            </label>
          </div>
      <div id="container" style="min-width: 310px"></div>
    </div>

    <p>Selecionar Ações:</p>
    
    <form>
      <div class="row">
        <div style="text-align: left;" class="col-md-12 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input type="checkbox" onclick="checkSelection(this)" id="select_all" value="all">Selecionar Tudo
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_FIA" value="Monetus FIA" checked>Monetus
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_NATU3" value="NATU3">NATU3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_MDIA3" value="MDIA3">MDIA3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_PIBB" value="PIBB">PIBB11
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_ABCB4" value="ABCB4">ABCB4
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_GRND3" value="GRND3">GRND3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_CIEL3" value="CIEL3">CIEL3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_CVCB3" value="CVCB3">CVCB3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_IVVB11" value="IVVB11">IVVB11
                <div class="control__indicator"></div>
              </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_EZTC3" value="EZTC3">EZTC3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_ESTC3" value="ESTC3">ESTC3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_CGRA3" value="CGRA3">CGRA3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_VVAR11" value="VVAR11">VVAR11
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_RAPT4" value="RAPT4">RAPT4
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_PTBL3" value="PTBL3">PTBL3
                <div class="control__indicator"></div>
            </label>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
            <label class="control control--checkbox">
                <input class="checkbox" type="checkbox" onchange="toggleChart(this)" id="_SMLS3" value="SMLS3">SMLS3
                <div class="control__indicator"></div>
            </label>
        </div>
        
      </div>      
    </form>

    <script>
      function toggleChart(element) {
        element.check != element.checked;
        selected_charts = []
        if (document.getElementById("_FIA").checked) { selected_charts.push('Monetus FIA') }
        if (document.getElementById("_NATU3").checked) { selected_charts.push('NATU3') }
        if (document.getElementById("_MDIA3").checked) { selected_charts.push('MDIA3') }
        if (document.getElementById("_PIBB").checked) { selected_charts.push('PIBB') }
        if (document.getElementById("_ABCB4").checked) { selected_charts.push('ABCB4') }
        if (document.getElementById("_GRND3").checked) { selected_charts.push('GRND3') }
        if (document.getElementById("_CIEL3").checked) { selected_charts.push('CIEL3') }
        if (document.getElementById("_CVCB3").checked) { selected_charts.push('CVCB3') }
        if (document.getElementById("_IVVB11").checked) { selected_charts.push('IVVB11') }
        if (document.getElementById("_EZTC3").checked) { selected_charts.push('EZTC3') }
        if (document.getElementById("_ESTC3").checked) { selected_charts.push('ESTC3') }
        if (document.getElementById("_CGRA3").checked) { selected_charts.push('CGRA3') }
        if (document.getElementById("_VVAR11").checked) { selected_charts.push('VVAR11') }
        if (document.getElementById("_RAPT4").checked) { selected_charts.push('RAPT4') }
        if (document.getElementById("_PTBL3").checked) { selected_charts.push('PTBL3') }
        if (document.getElementById("_SMLS3").checked) { selected_charts.push('SMLS3') }
        if (document.getElementById("select_all").checked) { selected_charts.push('NATU3','MDIA3','PIBB','ABCB4','GRND3','CIEL3','CVCB3','IVVB11','EZTC3','ESTC3','CGRA3','VVAR11','RAPT4','PTBL3','SMLS3') }
        if (document.getElementById("_ACU").checked) { acumulado = true }
        if (document.getElementById("_DIA").checked) { acumulado = false }
        
        recreateChart(selected_charts, acumulado);
      }

      function checkSelection(element) {
         if (document.getElementById("select_all").checked === false) {
          selected_charts = []
          selected_charts.push('Monetus FIA')
          if (document.getElementById("_ACU").checked) { acumulado = true }
          if (document.getElementById("_DIA").checked) { acumulado = false }

          
          
          recreateChart(selected_charts, acumulado);
          var fia = document.getElementById("_FIA");


         } else {
          toggleChart(element)
         }
      }

      var select_all = document.getElementById("select_all"); //select all checkbox
      var checkboxes = document.getElementsByClassName("checkbox"); //checkbox items

      //select all checkboxes
      select_all.addEventListener("change", function(e){
          for (i = 0; i < checkboxes.length; i++) {
              checkboxes[i].checked = select_all.checked;
          }
          var fia = document.getElementById("_FIA");
          fia.checked = true
      });


      for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].addEventListener('change', function(e){ //".checkbox" change
              //uncheck "select all", if one of the listed checkbox item is unchecked
              if(this.checked == false){
                  select_all.checked = false;
              }
              //check "select all" if all checkbox items are checked
              if(document.querySelectorAll('.checkbox:checked').length == checkboxes.length){
                  select_all.checked = true;
              }
          });
      }
    </script>
  </div>

  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h3>Resumo do dia {{ last_day_updated.time | date:"d" }} de {{ last_day_updated.time | date:"F" }}</h3>
        <table class="table">
          <tr>
            <th>Código</th>
            <th>Porcentagem no fundo</th>
            <th>Valorização</th>
          </tr>
          {% for stockinst in last_stocks_updated %}
          <tr>
            <td>{{ stockinst.code }}</td>
            <td>{{ stockinst.fshare }}</td>
            <td style="font-weight: bold;color:{% if stockinst.vcp > 0 %} green {% else %} red {% endif %}">{% if stockinst.vcp > 0 %} +{% endif %}{{ stockinst.vcp }}% </td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </div>

  <div class="container about">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  O que é isso?
                </a>
              </h5>
            </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>Ao investir utilizando o Monetus, nós temos a curiosidade de saber como as ações que compõe o fundo estão valorizando no decorrer do dia. Após procurar várias soluções para atender a essa demanda, não encontramos nenhuma que fosse simples o suficiente. Além disso, gostamos de desenvolver!</p>
              <p>Disso veio a idéia de desenvolver esse site que mostra em tempo real a valorização das ações do Monetus FIA e, além disso, exibe como cada ação se valorizou nos dias anteriores.</p>
              <p>Por acreditar que essa é uma demanda de outros usuários do Monetus, resolvemos deixar o site aberto para todos e também o código do app desenvolvido em Django disponível no Github.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Monetus ChatBOT
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <p>Além desse site, existe um chatbot para o Facebook disponível para que os usuários da Monetus saibam a valorização das ações do fundo em tempo real sempre que quiserem.</p>
              <p>Para conversar com o BOT é só acessar a seguinte página e iniciar uma conversa: <a target="_blank" href="https://www.facebook.com/monetusbot/">https://www.facebook.com/monetusbot/</a></p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="container footer">

    <footer class="my-5 pt-5 text-muted text-center text-small border-top">
      <p>Esse site não tem vínculo com a empresa Monetus</p>
      <p>Feito por
        <a href="https://github.com/alepmaros">Alexandre Maros</a> e
        <a href="https://github.com/Dayrell">Fábio Dayrell</a>
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://github.com/alepmaros/monetus-fiavis">Código Fonte</a>
        </li>
        <li class="list-inline-item">
          <a href="http://monetus.com.br/">Monetus</a>
        </li>
      </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <!-- chart -->
    {% include "fiavis/chart.html" %}
</body>

</html>
