<script>
    var all_days = {{ all_days | safe }}
    var all_stocks = {{ all_stocks | safe }}
</script>

<h1>Oi {{ last_day_updated.vcp }}</h1>

<table>
    <tr>
        <th>Código</th>
        <th>Porcentagem fundo</th>
        <th>Valorizacao</th>
    </tr>
    {% for stockinst in last_stocks_updated  %}
    <tr>
        <td>{{ stockinst.code }}</td>
        <td>{{ stockinst.fshare }}</td>
        <td>{{ stockinst.vcp }}</td>
    </tr>
    {% endfor %}
</table>

Ultima vez atualizado há {{ last_day_updated.time | timesince }}